# Environments
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Databases
*.sqlite3

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Static analysis
.mypy_cache/
.pytest_cache/

# HTML/Temp
index.html
last.html
post.html
paras.html
